<!DOCTYPE html>
<html>
  <head>
    <title>YTInvert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/">Youtube Inverter</a>
    </nav>
    <div class="container">
      <div class="center-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
